<!DOCTYPE html>
<!-- Website Homepage-->
<html>
    <!-- Header Area -->
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <h1>Stock and Cryptocurrency Price Checker</h1>
        
    </head>
    <!-- Body Area -->
    <body>
        <form action="/obtain_ticker" method="POST">
            <input type="text" name="tickerval" placeholder="Ticker">
            <input type="submit" id="action" value="Send!">
            <!-- <button id='tickerSetButton' type="button">Set Ticker</button> -->
            <!-- <script>
                $('#tickerSetButton').click(function() {
                    $.ajax({
                        type:'POST',
                        url: "{{ url_for('obtain_ticker') }}",
                        dataType:"text",
                        success: function(response){
                            console.log(response);
                            alert(response);
                        }
                    });
                });
            </script> -->
        </form>

        <!-- Get Price Button -->
        <button id='myButton' type="button">Get Price!</button>
          <script>
            $('#myButton').click(function() {
                $.ajax({
                    type:'GET',
                    url: "{{ url_for('price')}}",
                    dataType:"text",
                    success: function(response){
                        console.log(response);
                        alert(response);
                    }
                });
            });
        </script>

    </body>
</html>
