<!DOCTYPE html>
<!-- Website Homepage-->
<html>
    <!-- Header Area -->
    <head>
        <!-- Getting Fonts from Google Fonts API -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:800">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karla">

        <link href="../static/index_bg.css" rel="stylesheet" type="text/css">

        <!-- Linking External CSS File for Navigation Bar -->
        <link href="../static/nav.css" rel="stylesheet" type="text/css">
        <!-- Creation of Top Navigation Bar -->
        <nav>
            <div class="navBar">
            <li><a href="index.html">Price Checker</a></li>
            <li>Contact Us</a></li>
            <li><a href="login_page.html">Login/Sign Up</a></li>
            </div>
        </nav>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        <center>
            <h1>Stock and Cryptocurrency Price Checker</h1>
        </center>
    </head>
    <!-- Body Area -->
    <body>
        <center>
            <form action="">
                <input type="text" name="username" placeholder="Username"><br><br>
                <input type="text" name="password" placeholder="Password"><br><br>
                <input type="submit" value="Login">
                <input type="submit" value="Login">
            </form> 
        </center>
    </body>
</html>